body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
  320deg,
  hsl(223deg 62% 36%) 0%,
  hsl(250deg 42% 43%) 19%,
  hsl(276deg 48% 41%) 32%,
  hsl(299deg 58% 38%) 43%,
  hsl(313deg 96% 36%) 53%,
  hsl(324deg 100% 40%) 63%,
  hsl(333deg 100% 45%) 72%,
  hsl(341deg 100% 48%) 81%,
  hsl(348deg 100% 50%) 90%,
  hsl(0deg 100% 50%) 100%
);

}

.banner .text{
    padding: 0;
    background-size: cover;     
    background: linear-gradient(to right,rgb(139, 24, 233),rgb(19, 239, 173) );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 60px;
    background:rgb(31, 33, 60);
    padding: 15px;
}

.topnav{
    display: flex;
    gap: 80px;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.topnavcont svg,.topnavcont input{
    display: none;
}

.topnav a{
    font-family: 'Nunito Sans';
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding: 10px;
    transition: all 0.3s ;
}

.topnav:hover > a, .topnav:hover>.dropdown{
    opacity: 0.3;
}

.topnav:hover > a:hover, .topnav:hover>.dropdown:hover{
    opacity: 1;
    transform: translateY(-10px);
    color: rgb(30, 208, 95);
}

.dropdown{
    position: relative;
    display: inline-block;
    transition: all 0.3s ;
}

.dropdown a{
    display: inline-block;
}

.dropcontent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }

.dropcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropcontent a:hover {
    color:rgb(87, 241, 85)
    }

.dropdown:hover{
    color: rgb(87, 241, 85);
}

.dropdown:hover .dropcontent {
    display: block;     
}




.subheading{
    text-align: center;
    font-family: 'Montserrat';
    color: #2c80f6;
    font-weight: 500;
    font-size: 40px;
    margin: 0;
}

.heading{
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    margin-top: 0px;
    font-family: 'poppins';
    color: #2c80f6;
}

form{
    background:rgba(255, 255, 255, 0.781)   ;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09) ;
    font-family:'poppins';
    margin-top: 20px;
    border-radius:8px;
    width: 80vw; 
    gap: 100px;
    justify-content: center;   
    display:flex;
    row-gap: 50px;
    flex-wrap:wrap ;
}
 label{
    color: #622cf6;
    font-weight: 600;
 }


.set{
    font-size: 19px;
    font-family:'poppins';
    display: grid;
    place-content: center;
    row-gap: 10px;
    margin-top: 20px;
}

input[type=text],input[type=tel],input[type=email],input[type=date],input[type=number],form select{
    width: 200px;
    height:24px;
    border-radius: 8px;
    border-style: solid;
    background-color:  #d65cffba;
    border: 0;
    font-family: 'poppins';
    font-size: 18px;
    color:white;
}

textarea{
    font-family: 'poppins';
    font-size: 18px;
    color:white ;
    background-color: #d65cffba ;
    border: 0;
    border-radius: 20px;
    width: 300px;
    height: 100px;
}



#pay,#same,#select{
    margin-top: 20px;
}


.head-label{
    margin-top: 20px;
    font-size: 21px;
    font-weight: 600;
}


fieldset{
    border: 0;
    background:transparent;
    border-radius: 10px;
}


#del-addy{
    margin-top: 10px;
    display: grid;
    place-content: center;
}

#submit{
    margin-top: 30px;
    height: fit-content;
    padding: 10px;
    color: white;
    font-size: 17px;
    font-family: 'poppins';
    background-color:  #23ea23;
    border: 0;
    border-radius: 20px;
}   

.botnav{
    margin-top: 100px;
    display: flex;
    gap: 80px;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.botnav a{
    font-family: 'Nunito Sans';
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding: 10px;
    transition: all 0.3s ;
}

@media (max-width:750px){
    .botnav{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    
    .banner{
        position: relative;
        z-index: 4;
    }
    .topnav {
        padding:10px ;
        background-color: #ffffff;
        flex-direction: column;
        width:60% ;
        gap: 5px;
        padding-top: 10px;
        text-align: center;
        display: flex;
        position: absolute;
        transform: translateY(-400px);
        transition: 0.5s;
    }

    .topnav a{
        color: black;
    }

    .topnavcont svg{
        position: absolute;
        z-index: 5;
    }

    .topnavcont svg{
        padding: 2px;
        background-color: #ffffff;
        display: block;
        position: absolute;
        z-index: 2;
        left: 47%;
        transform: rotate(0deg);
        transition: 0.5s;
        border-radius: 50%;
    }

    .topnav .dropcontent{
        position: static;
    }


    .topnavcont svg:active{
        transform: rotate(0deg);
    }


    .topnavcont{
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;

    }

    .topnavcont input{
        display: none;
        position: absolute;
        left: 49%;
        z-index: 3;
    }


    .topnavcont input:checked~.topnav{
        transform: translateY(0);
    }

    .heading{
        font-size: 55px;
    }
   
}

@media (max-width:400px){
    form{
        width: 100%;
    }
}
